*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border: none;
}
body{
    background-color: rgb(18, 16, 29);
}

/* navbar section start here */
.navbar{
    display: flex;
    margin: 35px 100px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0  rgb(0, 0, 0, 0.5)
}
.navbar .logo{
    margin: 20px 0 0 0;
}
.navbar img{
    width: 30px;
    height: 20px;
    margin: 0px 5px;
}
.logo span{
    font-size: 25px;
    color: white;
}

ul{
    display: flex;
    margin: 20px 2rem;
    gap: 3rem;
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-links:hover{
    background-color: rgb(6, 72, 75);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.nav-links .login{
    background-color: rgb(0, 124, 128);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.nav-links i{
    color: white;
    margin-top: -5px;
}

/* navbar ends here */

/* main section starts here */
.main{
    margin: 100px 100px;
    display: flex;
    /* gap: 3%; */
}
.content{
    width: 65%;
    height: 40%;
    margin: 15px 0;
}
.content h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
.content p{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.btn-group{
    margin-top: 25px;
    margin-right: 20px;
    display: flex;
    gap: 10px;
}
.btn-1{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(0, 124, 128);
    border-collapse: collapse;
    border: none;
}
.btn-2{
    padding: 20px 40px;
    border-radius: 10px; 
    outline: none;
    background-color: black;
    color: white;
}
button:hover{
    background-color: rgb(0, 124, 128);
}
.main-2 img{
    width: 60%; 
    height: 80%;
    
}
.main-2{
    width: 70%;
    height: -10%;
}


/* main section */

/* columns section starts here */


.columns{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
}
.col-1{
    color: white;
    /* border: 1px solid black; */
    padding: 40px 40px;
    outline: none;
    box-shadow: 0 4px 8px 0  rgb(0, 0, 0, 0.5);
}
.col-1 i{
    color: aquamarine;
    margin-bottom: 10px;
    /* width: 30%;
    height: 30%; */

}
.col-2{
    color: white;
    /* border: 1px solid black; */
    padding: 40px 30px;
    outline: none;
    box-shadow: 0 4px 8px 0  rgb(0, 0, 0, 0.5);
}
.col-2 i{
    color: rgb(0, 102, 255);
    margin-bottom: 10px;
}
.col-3{
    color: white;
    /* border: 1px solid black; */
    padding: 40px 40px;
    outline: none;
    box-shadow: 0 4px 8px 0  rgb(0, 0, 0, 0.5);
}
.col-3 i{
    color: aquamarine;
    margin-bottom: 10px;
}
.col-4{
    color: white;
    /* border: 1px solid black; */
    padding: 40px 40px;
    outline: none;
    box-shadow: 0 4px 8px 0  rgb(0, 0, 0, 0.5);
}
.col-4 i{
    color: aquamarine;
    margin-bottom: 10px;
}
/* columns section ends here */

/* Table section starts here */

.table-section{
    margin-top: 100px;
    color: white;
}
.title{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
} 
table{
    margin: auto;
    margin-top: 15px;
    width: 50%;
    color: white;
    padding: 10px;
}
tr{
    text-align: center;
    line-height: 30px;
}

/* td i{
    color: rgb(165, 112, 42);
}
tr .change{
    color: rgb(0, 128, 75);
} */
/* Table section ends here */
/* last section */
.last-section{
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.text-section{
    color: white;
    width: 70%;
}
.btn-section{
    width: 50%;
}
/* media screen 1024 */

@media screen and (max-width:1024px){
    .navbar .logo {
        padding: 0px 0 0 0;
    }
    img{
        width: 60%;
    }
}

/* media screen 768 */

@media screen and (max-width: 768px){
    .navbar .logo {
        margin: -5px 0 0 0;
    }
    .main-2 img{
        width: 80%; 
        height: 90%;
    
    }
}

@media screen and (max-width: 425px){
    .columns{
        gap: 25px;
    }
    .main{
        flex-direction: column;
    }
    .main-2 img{
        width: 100%; 
        height: 100%;
        margin: 20px 0;
    }
    .columns{
        flex-direction: column;
    }
    .nav-items{
        display: none;
    }
    .navbar{
        padding: 15px 0;
    }
    .content h1{
        margin-bottom: 20px;
    }
    .columns{
        margin: 15px 50px;
    }
    .btn-group{
        display: block;
        
    }
    .btn-1{
        padding:15px 50%;
        /* margin: 20px 0; */
    }
    .btn-2{
        padding:15px 50%;
        margin: 20px 0;
    }
}